*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.screen{
    display: flex;
    height: 100vh;
}
.leftSide{
    flex: 1;
    justify-content: center;
    align-items: center;
}
.leftSide img{
    width: 80%;
    height: auto;
}
.rightSide{
    width: 300px;
    background-color: #ddd;
    padding: 50px;
}
.rightSide label{
    display: block;
    margin-bottom: 20px;
}
.rightSide input{
    border: solid 1px #999;
    padding: 8px;
    border-radius: 5px;
    font-size:14px;
    width: 100%;
    outline: 0;
}